act5/ejRealPracticasCFGS/futbol.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="equipos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="equipo">
          <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="presupuesto" type="xs:string"/>
                <xs:element name="historia" type="xs:string"/>
                <xs:element minOccurs="0" type="xs:string" name="diseño"/>
                <xs:element minOccurs="0" type="xs:string" name="color"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
 </xs:element>
</xs:schema>
