act5/PracticasCFGS/practicaCFGS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="alumnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="alumno">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nif" type="xs:string"/>
              <xs:element  name="resultado" type="xs:string"/>
              <xs:element  name="observaciones" type="xs:string"/>
              <xs:choice>
              <xs:element type="xs:string" name="ip"/>
              <xs:element type="xs:string" name="mac"/>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
 </xs:element>
</xs:schema>