act4/clientes/clientes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="clientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="sede">
          <xs:complexType>
            <xs:sequence>
                <xs:element name="cod" type="xs:string"/>
                <xs:element name="descripcion" type="xs:string"/>
                <xs:element name="numero" type="xs:string"/>
                <xs:element name="coste" type="xs:string"/>
                <xs:element name="resumen" type="xs:string"/>
                <xs:element name="plazo" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
 </xs:element>
</xs:schema>
